@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Check VFR Weather Minimums.</h1>
    <p>
        <a asp-controller="UserInput" asp-action="InputForm">Input Form</a>
    </p>
</div>
