@model VFRWxInputModel

@{
    ViewData["Title"] = "Clearance Input Form";
}

<h2>Enter cloud clearance in feet and visibility in statue miles.</h2>

<form asp-controller="VFRWx" asp-action="CheckVFR" method="get">
    <div>
        <label for="BelowClouds">Below Clouds:</label>
        <input type="number" id="belowClouds" name="belowClouds" required />
    </div>
    <div>
        <label for="AboveClouds">Above Clouds:</label>
        <input type="number" id="aboveClouds" name="aboveClouds" required />
    </div>
    <div>
        <label for="HorizontalCloudSeparation">Horizontal Cloud Separation:</label>
        <input type="number" id="horizontalCloudSeparation" name="horizontalCloudSeparation" required />
    </div>
    <div>
        <label for="Visibility">Visibility:</label>
        <input type="number" id="visibility" name="visibility" required />
    </div>
    <button type="submit">Submit</button>
</form>

